{{ range $i, $e := .Params.features }}
  <section class="mx-auto max-w-screen-xl px-8 py-2">
    {{ with $e }}
      <div class="grid gap-10 md:h-[400px] md:grid-cols-2 md:items-center">
        <div class="md:order-{{ if modBool $i 2 }}1{{ else }}2{{ end }} shadow-lg">
          {{ with .image }}
            {{ partial "get-image" (dict "src" . "alt" $e.title) }}
          {{ end }}
          {{ with .video }}
            <video src="/media/{{ . }}" class="lazyload" data-autoplay muted loop playsinline></video>
          {{ end }}
        </div>
        <div class="md:order-{{ if modBool $i 2 }}2{{ else }}1{{ end }}">
          <h2 class="mb-4 text-2xl font-bold">{{ .title }}</h2>
          <p class="text-gray-600">
            {{ .content | markdownify }}
          </p>
        </div>
      </div>
    {{ end }}
  </section>
{{ end }}
