{{ range $i, $e := .Params.features }}
  <section class="mx-auto max-w-screen-xl px-8 py-2">
    {{ with $e }}
      <div class="grid gap-10 md:h-[400px] md:grid-cols-2 md:items-center">
        <div class="md:order-{{ if modBool $i 2 }}1{{ else }}2{{ end }} shadow-lg">
          {{ with .image }}
            <img
              class="lazyload w-full"
              data-srcset="{{ .srcset }}"
              alt="{{ $e.title }}"
              {{ with .width }}width="{{ . }}"{{ end }}
              {{ with .height }}height="{{ . }}"{{ end }}
              data-sizes="auto"
            />
          {{ end }}
          {{ with .video }}
            <video src="{{ .src }}" class="lazyload" data-autoplay muted loop playsinline></video>
          {{ end }}
        </div>
        <div class="md:order-{{ if modBool $i 2 }}2{{ else }}1{{ end }}">
          <h2 class="mb-4 text-2xl font-bold">{{ .title }}</h2>
          <p class="text-gray-600">
            {{ .content | markdownify }}
          </p>
        </div>
      </div>
    {{ end }}
  </section>
{{ end }}
