<div class="relative bg-gray-200 pt-14">
  <div class="mx-auto max-w-screen-xl px-4 py-8">
    <div class="relative z-1 lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:items-start lg:gap-24 lg:px-4">
      <div
        class="relative mx-auto mt-6 max-w-md px-4 text-center sm:mb-6 sm:max-w-3xl sm:px-6 lg:mb-0 lg:px-0 lg:text-left"
      >
        <h1 class="max-w-[400px] pb-2 text-3xl text-gray-800 sm:mx-auto md:text-4xl lg:mx-0 lg:max-w-[400px]">
          {{ .Description }}
        </h1>
        <p class="mx-auto mb-6 max-w-xl font-normal text-gray-900 md:text-lg lg:mx-0 xl:mb-2 xl:text-xl">
          {{ .Params.lead.content | page.RenderString }}
        </p>
        <p class="mt-8">
          <a
            class="btn btn-white inline-flex"
            href="https://demo.rgallery.app"
            target="_blank"
            rel="noreferrer nofollow"
            >Try the demo
            <span class="m-auto inline-block px-1">
              {{ readFile "static/external-dark.svg" | safeHTML }}
            </span></a
          >
          (User: <strong class="font-mono">demo</strong>, Password: <strong class="font-mono">demo</strong>)
        </p>
      </div>
      <div class="relative sm:py-8 lg:py-0">
        <div class="relative mx-auto max-w-md px-4 py-6 sm:max-w-3xl sm:px-6 lg:max-w-none lg:px-0">
          <div class="relative z-1 bg-black">
            <img
              data-srcset="{{ .Params.lead.image.srcset }}"
              width="{{ .Params.lead.image.width }}"
              height="{{ .Params.lead.image.height }}"
              class="lazyload inset-0 h-full w-full rounded-lg object-cover shadow-xl"
              alt="rgallery screenshot"
              data-sizes="auto"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="absolute inset-0 bg-indigo-300 mix-blend-multiply"></div>
    <div class="absolute inset-0 bg-gradient-to-t from-indigo-600 opacity-80"></div>
  </div>
</div>
